* {
    padding: 0;
    margin: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix::after,.clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.container {
    width: 1200px;
    margin: 0 auto;
}


/* navTop部分 */
.navTop {
    background-color: #f8f8f8;
}
.navTop>.container {
    height: 34px;
}
.navTop-left {
    float: left;
    width: 500px;
}
.navTop-left>ul {
    width: 500px;
}
.navTop-left>ul>li {
    width: 70px;
    float: left;
    margin-right: 16px;
    line-height: 34px;
    height: 28px;
}
.navTop-left>ul>li>a {
    float: left;
    color: #333;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    cursor: pointer;
}
.navTop-left>ul>li:nth-child(3)>a>span,
.navTop-left>ul>li:nth-child(4)>a>span {
    color: #333;
}
.navTop-left>ul>li:nth-child(3)>a>i {
    color: #1d7dc4;
}
.navTop-left>ul>li:nth-child(4)>a>i {
    color: #e83900;
}
.navTop-right {
    float: right;
    margin-right: 10px;
}
.navTop-right>ul {
    width: 380px;
}
.navTop-right>ul>li {
    width: 130px;
    float: left;
    margin-right: -54px;
    line-height: 28px;
    height: 28px;
}
.navTop-right>ul>li>a {
    float: left;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    cursor: pointer;
}
.navTop-right>ul>li:nth-child(1)>a,
.navTop-right>ul>li:nth-child(2)>a,
.navTop-right>ul>li:nth-child(4)>a {
    color: #757575;
}
.navTop-right>ul>li:nth-child(1)>a {
    color: #e53037;
}
.navTop-right>ul>li:nth-child(3)>a {
    color: #9eb4d3;
}
.navTop-right>ul>li:nth-child(4) {
    margin-left: 72px;
    /* position: relative; */
}
.navTop-right>ul>li:nth-child(4)>a {
    position: relative;
}
.navTop-right>ul>li:nth-child(4)>a>ul {
    width: 60px;
    height: 100px;
    /* background-color: red; */
    color: #a1a1a1;
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
    border-top-left-radius: 4px;
    position: absolute;
    top: 32px;
    left: -4px;
    display: none;
}
.navTop-right>ul>li:nth-child(4)>a>ul>li {
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.navTop-right>ul>li:nth-child(4)>a:hover .li4{
    display: block;
}
.navTop-right>ul>li:nth-child(4)>a:hover {
    /* background-color: #fff; */
    /* box-shadow: 0 10px 16px rgba(0,0,0,0.1); */
}




/* headNav部分 */
.headNav {
    color: #fff;
}
.headNav>.container {
    height: 96px;
}
.headNav-left {
    width: 300px;
    padding-top: 10px;
}
.headNav-left>img {
    padding-bottom: 4px;
}
.headNav-center {
    /* background-color: red; */
    width: 400px;
    height: 42px;
    float: left;
    margin-left: 428px;
    margin-top: -30px;
    /* padding-top: 20px; */
}
.headNav-center>.search {
    height: 33px;
    padding-left: 5px;
    float: left;
}
.headNav-center>.search>input {
    height: 33px;
    border: 2px solid #f00582;
    width: 240px;
    padding-left: 5px;
    float: left;
    color: #ccc;
    font-size: 12px;
}
.headNav-center>.search>button {
    height: 37px;
    overflow: hidden;
    padding: 7px 30px;
    background-color: #f00582;
    font-size: 12px;
    color: #fff;
    border: #f00582;
}
.headNav-center>.search>ul {
    width: 240px;
    height: 120px;
    background-color: #fff;
    z-index: 200;
    display: none;
    font-size: 12px;
    color: #222;
}
.headNav-center>.search>ul>li {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 3px;
} 
.headNav-right {
    /* background-color: skyblue; */
    width: 210px;
    float: right;
    margin-right: 142px;
    margin-top: -50px;
    height: 78px;
    /* padding-top: 10px; */
}
.headNav-right>dl {
    margin: 5px 5px;
    float: left;
}
.headNav-right>dl:nth-child(1)>dt {
    width: 60px;
    height: 74px;
    background-image: url("../../img/1_03.png");
    background-position: 0 1px;
}
.headNav-right>dl:nth-child(2)>dt {
    width: 60px;
    height: 74px;
    background-image: url("../../img/1_03.png");
    background-position: 0 -77px;
}
.headNav-right>dl:nth-child(3)>dt {
    width: 60px;
    height: 74px;
    background-image: url("../../img/1_03.png");
    background-position: 0 98px;
}



/* banerNav部分 */
.banerNav {
    background-color: #f00582;
}
.banerNav>.container {
    height: 40px;
}
.banerNav-ul {
    float: left;
}
.banerNav-ul>li {
    width: 160px;
    float: left;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    margin-right: 4px;
}
.banerNav-ul>li:nth-child(1) {
    width: 180px;
    height: 40px;
    font-size: 16px;
    background-color: #bd166f;
}
.banerNav-ul>li>a {
    color: #fff;
}
.banerNav-ul>li:nth-child(1)>a>i {
    margin-right: 10px;
} 
.banerNav-ul>li:hover {
    background-color: #bd166f;
}



/* main部分 */
.main {
    /* background: url("../../img/1_02.png") top center repeat-y; */
    background-color: #fff;
}
.main>.container {
    height: 100%;
}
/* main-banner部分 */
.main-banner {
    height: 300px;
    width: 180px;
    background-color: #fbeaf4;
}
/* main-banner-left部分 */
.main-banner-left>ul>li {
    width: 180px;
    height: 38px;
    line-height: 38px;
    /* box-sizing: border-box; */
    padding-left: 10px;
}
.main-banner-left>ul>li>span {
    color: #333;
    font-size: 12px;
}
.main-banner-left>ul>li>span:nth-child(1)>i {
    color: #ff69b4;
    font-size: 20px;
    margin-right: 12px;
}
.main-banner-left>ul>li>span:nth-child(2)>i {
    float: right;
    color: #fff;
    margin-right: 20px;
    font-size: 18px;
} 
.main-banner-left>ul>li:hover {
    background-color: #ccc;
}   
.main-banner-left>ul>li:nth-child(1) {
    position: relative;
}
.merge1 {
    width: 300px;
    height: 298px;
    position: absolute;
    top: 2px;
    left: 180px;
    background-color: #fff;
    display: none;
}
.merge1>p:nth-child(1),
.merge2>p:nth-child(1),
.merge3>p:nth-child(1),
.merge4>p:nth-child(1),
.merge5>p:nth-child(1),
.merge6>p:nth-child(1),
.merge7>p:nth-child(1),
.merge8>p:nth-child(1)  {
    margin-bottom: 50px;
    margin-top: 6px;
    font-size: 14px;
}
.merge1>p:nth-child(1)>span:nth-child(1),
.merge2>p:nth-child(1)>span:nth-child(1),
.merge3>p:nth-child(1)>span:nth-child(1),
.merge4>p:nth-child(1)>span:nth-child(1),
.merge5>p:nth-child(1)>span:nth-child(1),
.merge6>p:nth-child(1)>span:nth-child(1),
.merge7>p:nth-child(1)>span:nth-child(1),
.merge8>p:nth-child(1)>span:nth-child(1)   {
    float: left;
    margin-left: 20px;
}
.merge1>p:nth-child(1)>span:nth-child(2),
.merge2>p:nth-child(1)>span:nth-child(2),
.merge3>p:nth-child(1)>span:nth-child(2),
.merge4>p:nth-child(1)>span:nth-child(2),
.merge5>p:nth-child(1)>span:nth-child(2),
.merge6>p:nth-child(1)>span:nth-child(2),
.merge7>p:nth-child(1)>span:nth-child(2),
.merge8>p:nth-child(1)>span:nth-child(2)   {
    float: right;
    color: #ccc;
    margin-right: 18px;
    font-size: 12px;
}
.merge1>p:nth-child(1)>span:nth-child(2)>i,
.merge2>p:nth-child(1)>span:nth-child(2)>i,
.merge3>p:nth-child(1)>span:nth-child(2)>i,
.merge4>p:nth-child(1)>span:nth-child(2)>i,
.merge5>p:nth-child(1)>span:nth-child(2)>i,
.merge6>p:nth-child(1)>span:nth-child(2)>i,
.merge7>p:nth-child(1)>span:nth-child(2)>i,
.merge8>p:nth-child(1)>span:nth-child(2)>i   {
    font-size: 16px;
    float: right;
    margin-left: 4px;
}
.merge1>ul,
.merge2>ul,
.merge3>ul,
.merge4>ul,
.merge5>ul,
.merge6>ul,
.merge7>ul,
.merge8>ul   {
    margin-top: 20px;
}
.merge1>ul>li,
.merge2>ul>li,
.merge3>ul>li,
.merge4>ul>li,
.merge5>ul>li,
.merge6>ul>li,
.merge7>ul>li,
.merge8>ul>li  {
    float: left;
    font-size: 12px;
    margin-left: 10px;
    color: #ccc;
}
.merge1>ul>li:hover,
.merge2>ul>li:hover,
.merge3>ul>li:hover,
.merge4>ul>li:hover,
.merge5>ul>li:hover,
.merge6>ul>li:hover,
.merge7>ul>li:hover,
.merge8>ul>li:hover {
    color: #ff69b4;
} 
.merge2,
.merge3,
.merge4,
.merge5,
.merge6,
.merge7,
.merge8 {
    width: 300px;
    height: 298px;
    position: absolute;
    top: 172px;
    /* left: 348px; */
    left: 340px;
    background-color: #fff;
    display: none;
}
.main-banner-left>ul>li:nth-child(1):hover .merge1,
.main-banner-left>ul>li:nth-child(2):hover .merge2,
.main-banner-left>ul>li:nth-child(3):hover .merge3, 
.main-banner-left>ul>li:nth-child(4):hover .merge4,
.main-banner-left>ul>li:nth-child(5):hover .merge5,
.main-banner-left>ul>li:nth-child(6):hover .merge6,
.main-banner-left>ul>li:nth-child(7):hover .merge7,
.main-banner-left>ul>li:nth-child(8):hover .merge8     {
    display: block;
    z-index: 10;
}

/* main-banner-center部分 */
.main-banner-center {
    width: 700px;
    height: 300px;
    margin-top: -304px;
    margin-left: 180px;
    position: relative;
    overflow: hidden;
}
/* .pic>img {
    position: absolute;
    width: 700px;
    height: 300px;
}
.tabs {
    position: absolute;
    z-index: 5;
    left: 320px;
    bottom: 20px;
    height: 10px;
    width: 100px;
}
.tabs>li {
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ccc;
}
.btn {
    position: absolute;
    z-index: 5;
    top: 134px;
    display: none;
    width: 30px;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    cursor: pointer;
}
.btn:hover {
    background-color: #f00582;
}
.btn1 {
    left: 20px;
}
.btn2 {
    right: 20px;
}
.bg {
    background-color: red;
}
.main-banner-center:hover .btn {
    display: block;
} */
.main-banner-center>.list1 {
    position: absolute;
    z-index:3;
    width: 4900px;
    height: 300px;
    left: -700px;
}
.main-banner-center>.list1>img {
    float: left;
    width: 700px;
    height: 300px;
}
.main-banner-center>.buttons1 {
    position: absolute;
    z-index: 5;
    left: 320px;
    bottom: 20px;
    height: 10px;
    width: 100px;
}
.main-banner-center>.buttons1>span {
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ccc;
}
.main-banner-center>.buttons1>.on {
    background-color: #fff;
}
.main-banner-center>.arrow1 {
    position: absolute;
    z-index: 5;
    top: 134px;
    display: none;
    width: 30px;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    cursor: pointer;
}
.main-banner-center>.arrow1:hover {
    background-color: #f00582;
}
.main-banner-center:hover .arrow1 {
    display: block;
}
.main-banner-center>#prev1 {
    left: 20px;
}
.main-banner-center>#next1 {
    right: 20px;
}



/* .pb-carouselWarp {
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.pb-carouselWarp .pb-carousel {
  position: relative;
  height: 100%;
}
.pb-carouselWarp .pb-carousel li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pb-carouselWarp .pb-carousel li img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.pb-carouselWarp .pb-carousel .pb-this {
  display: block;
  left: 0;
}
.pb-carouselWarp .pb-carousel-ind {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.pb-carouselWarp .pb-carousel-ind li {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}
.pb-carouselWarp .pb-carousel-ind .pb-this {
  background-color: #000;
}
.pb-carouselWarp .pb-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: none;
}
.pb-carouselWarp .pb-arrow-prev {
  left: 20px;
  background: #000000 url("./img/arrow-left.png") no-repeat center;
}
.pb-carouselWarp .pb-arrow-next {
  right: 20px;
  background: #000000 url("./img/arrow-right.png") no-repeat center;
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind {
  position: absolute;
  width: 15px;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 20px;
  transform: translateY(-50%);
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind li {
  float: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 5px 0;
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind .pb-this {
  background-color: #000;
}
.pb-carouselWarp[type='updown'] .pb-arrow {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -20px;
  margin-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.pb-carouselWarp[type='updown'] .pb-arrow-prev {
  top: 20px;
  background: #000000 url("./img/arrow-top.png") no-repeat center;
}
.pb-carouselWarp[type='updown'] .pb-arrow-next {
  top: auto;
  bottom: 20px;
  background: #000000 url("./img/arrow-bottom.png") no-repeat center;
}
 */







/* 
.main-banner-center>.list1 {
    position: absolute;
    z-index:3;
    width: 4900px;
    height: 300px;
    left: -700px;
}
.main-banner-center>.list1>img {
    float: left;
    width: 700px;
    height: 300px;
}
#pointsDiv {
    position: absolute;
    z-index: 5;
    left: 320px;
    bottom: 20px;
    height: 10px;
    width: 100px;
}
#pointsDiv span {
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ccc;
}
#pointsDiv .on {
    background-color: red;
}
.arrow {
    position: absolute;
    z-index: 5;
    top: 134px;
    display: none;
    width: 30px;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    cursor: pointer;
}
.arrow:hover {
    background-color: #f00582;
}
.main-banner-center:hover .arrow {
    display: block;
}
.main-banner-center>#prev {
    left: 20px;
}
.main-banner-center>#next {
    right: 20px;
}
 */

























/* .main-banner-right部分 */
.main-banner-right {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #fbeaf4;
    margin-top: -304px;
    margin-left: 880px;
}
.main-banner-rightOne {
    height: 160px;
    /* background-color: yellow; */
    border-bottom: 1px solid #ccc;
}
.main-banner-rightOne>p:nth-child(1) {
    font-size: 20px;
    color: #8b8086;
    text-align: center;
    margin: 0px 10px 24px 10px;
    padding-top: 28px;
}
.main-banner-rightOne>p:nth-child(2) {
    color: #8b8086;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.main-banner-rightOne>ul {
    width: 160px;
    height: 34px;
    /* background-color: red; */
    margin: 18px 10px 10px 70px;
}
.main-banner-rightOne>ul>li>i {
    float: left;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 8px;
} 
.main-banner-rightOne>ul>li:nth-child(1)>i {
    color: #65abfd;
}
.main-banner-rightOne>ul>li:nth-child(2)>i {
    color: #e41f2c;
}
.main-banner-rightOne>ul>li:nth-child(3)>i {
    color: #fed405;
}
.main-banner-rightOne>ul>li:nth-child(4)>i {
    color: #5dbe15;
}
.main-banner-rightOne>ul>li:nth-child(5)>i {
    color: #12adf9;
} 
.main-banner-rightTwo {
    height: 140px;
    /* background-color: skyblue; */
}
.main-banner-rightTwo>p:nth-child(1) {
    color:  #8b8086;
    font-size: 20px;
    margin: 0px 10px 10px 24px;
    padding-top: 30px;
    /* text-align: center; */
} 
.main-banner-rightTwo>p:nth-child(2) {
    color:  #8b8086;
    font-size: 16px;
    margin: 20px 10px 10px 18px;
    /* text-align: center; */
}
.main-banner-rightTwo>p:nth-child(3)>i {
    font-size: 26px;
    color: skyblue;
    margin: 10px 10px 10px 20px;
    padding-top: 10px;
}
.main-banner-rightTwo>img {
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}


/* main-mess1部分 */
.main-mess1 {
    height: 80px;
}
.main-mess1-one {
    height: 40px;
    margin-top: 14px;
    margin-bottom: 10px;
    background-color: #fdfce7;
    text-align: center;
    /* padding-top: 10px; */
    /* color: #ccc; */
    color: #ee3c43;
    font-size: 15px;
    line-height: 40px;
}
.main-mess1-two {
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #ccc;
}


/* main-rush部分 */
.main-rush {
    height: 180px;
    background-color: #ee3c43;
    margin-top: 20px;
}
.main-rush>.main-ruP>li {
    width: 200px;
    height: 160px;
    background-color: #fff;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 18px;
}
.main-rush>.main-ruP>li:nth-child(1) {
    width: 240px;
    margin-left: 20px;
    background-color: #ee3c43;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin: 12px 10px 10px 10px;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(2) {
    color: #fcd8da;
    font-size: 14px;
    margin: 12px 10px 10px 10px;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(2)>span:nth-child(1) {
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(3) {
    margin-top: 24px;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(3)>i {
    font-size: 24px;
    color: #fff;
    margin: 10px 10px 10px 10px;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(3)>span {
    font-size: 14px;
    color: #fff;
}
.main-rush>.main-ruP>li:nth-child(1)>p:nth-child(4) {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
} 
/* .main-rush>ul>li>img {
    width: 156px;
    height: 100px;
    margin-left: 30px;
    margin-top: 6px;
    text-align: center;
}
.main-rush>ul>li>.rush-go1 {
    font-size: 14px;
    color: #333;
    margin-top: 8px;
    text-overflow: ellipsis;
    width: 200px;
    height: 10px;
    text-align: center;
}
.main-rush>ul>li>.rush-go2 {
    margin-top: 18px;
    text-align: center;
}
.main-rush>ul>li>.rush-go2>.rush-go4 {
    color: #e50129;
    font-size: 16px;
}
.main-rush>ul>li>.rush-go2>.rush-go3>del {
    color: #999;
    font-size: 12px;
}
.main-rush>ul>li:nth-child(2):hover,
.main-rush>ul>li:nth-child(3):hover,
.main-rush>ul>li:nth-child(4):hover {
    box-shadow: 0  15px  30x  rgba(0,0,0,0.1);
} */

/* .main-rush>.rush-go>img {
    width: 156px;
    height: 100px;
    margin-left: 30px;
    margin-top: 6px;
    text-align: center;
} */

.main-rushUl {
    width: 800px;
    height: 160px;
    /* background-color: pink; */
    float: left;
    margin: 10px 10px 10px 68px;
}
.main-rushUl>li {
    width: 180px;
    height: 160px;
    float: left;
    /* background-color: purple; */
    background-color: #fff;
    margin-left: 14px;
    border: 1px solid #fff;
}
.main-rushUl>li:hover {
    border: 1px solid #12adf9;
}
.main-rushUl>li>img {
    width: 154px;
    height: 100px;
    margin-left: 12px;
    margin-top: 6px;
    text-align: center;
}
.main-rushUl>li>p:nth-child(2) {
    font-size: 12px;
    color: #333;
    margin-top: 8px;
    text-overflow: ellipsis;
    /* width: 200px; */
    height: 10px;
    text-align: center;
} 
.main-rushUl>li>p:nth-child(3) {
    margin-top: 18px;
    text-align: center;
}
.main-rushUl>li>p:nth-child(3)>span:nth-child(1) {
    color: #e50129;
    font-size: 14px;
    margin-right: 10px;
}
.main-rushUl>li>p:nth-child(3)>span:nth-child(2)> {
    color: #999;
    font-size: 12px;
    /* display: inline-block; */
}







/* share 分享部分 */
.share1 {
    width: 100px;
    height: 200px;
    background: skyblue;
    position: absolute;
    /* position: fixed; */
    top: 100px;
    left: -100px;
}
.share2 {
    width: 30px;
    height: 70px;
    background-color: palegreen;
    position: absolute;
    /* position: fixed; */
    top: 70px;
    right: -30px;
    color: #fff;
    text-align: center;
}




/* returnTop 返回顶部 */
.returnTop {
    position: fixed;
    right: 50px;
    bottom: 100px;
    /* display: none; */
}



/* main-PreferredBrandMessage部分 */
.main-PreferredBrandMessage {
    width: 348px;
    height: 44px;
    margin-top: 40px;
    border: 2px solid #ccc;
    margin-left: 408px;
    background-color: #fff;
}
.main-PreferredBrandMessage>p {
    text-align: center;
    font-size: 24px;
    color: #ccc;
    line-height: 48px;
}


/* main-PreferredBrand 部分 */
.main-PreferredBrand {
    height: 500px;
    margin-top: 20px;
    background-color: #fff;
}
.PreferredBrand1 {
    height: 100px;
    width: 1200px;
}
.PreferredBrand1>ul {
    width: 1200px;
}
.PreferredBrand1>ul>li {
    width: 380px;
    height: 150px;
    float: left;
    margin-right: 20px;
    background-color: #fff;
}
.PreferredBrand1>ul>li>img {
    width: 100%;
    height: 100%;
}
.PreferredBrand1>ul>li:hover img {
    border: 1px solid red;
}
.PreferredBrand2 {
    height: 400px;
    width: 1200px;
}
.PreferredBrand2>ul {
    width: 1200px;
}
.PreferredBrand2>ul>li {
    width: 180px;
    height: 100px;
    float: left;
    margin-top: 14px;
    margin-right: 20px;
    background-color: #fff;
    /* position: absolute; */
}
.PreferredBrand2>ul>li>img {
    width: 100%;
    height: 100%;
} 
.PreferredBrand2>ul>li:hover img{
    border: 1px solid red;
    /* background-color: skyblue; */
} 



.main-tabMessage {
    width: 348px;
    height: 44px;
    margin-top: 40px;
    border: 2px solid #ccc;
    margin-left: 408px;
    background-color: #fff;
}
.main-tabMessage>p {
    text-align: center;
    font-size: 24px;
    color: #ccc;
    line-height: 48px;
}


/* main-tab部分 */
.main-tab {
    height: 500px;
    background-color: skyblue;
    margin-top: 20px;
}
.main-tabTop {
    width: 1200px;
    height: 60px;
    background-color: #fff;
}
.main-tabTop>span {
    width: 100px;
    height: 100px;
    font-size: 14px;
    color: #333;
    /* margin: 10px 10px 10px 10px; */
    /* padding-top: 20px; */
}
.main-tabTop>ul {
    width: 360px;
    height: 60px;
    margin-left: 840px;
    background-color: #fff;
    margin-top: -16px;
}
.main-tabTop>ul>li {
    /* display: inline; */
    float: left;
    height: 60px;
    text-decoration: none;
    width: 100px;
    /* padding-top: 24px; */
    padding-left: 20px;
    line-height: 60px;
    text-align: center;
    color: #333;
}
.main-tabTop>ul>li:hover {
    background-color: skyblue;
    color: #fff;
}
.main-tabBottom {
    width: 1200px;
    height: 440px;
    background-color: #e2e2e2;
    /* margin-top: 10px; */
}
.main-tabBottom>section {
    height: 440px;
}
.main-tabBottom>section>ul {
    width: 1200px;
    height: 124px;
}
.main-tabBottom>section>ul>li {
    width: 246px;
    height: 124px;
    float: left;
    background-color: #fff;
    margin-top: 18px;
    margin-left: 42px;
    /* margin: 18px 42px; */
    /* padding-top: 4px;
    padding-left: 4px */;
    border: 1px solid #ccc;
}
.main-tabBottom>section>ul>li:hover {
    border: 1px solid red;
    /* box-shadow: 0  15px  30x  rgba(0,0,0,0.1); */
}
.main-tabBottom>section>ul>li>img {
    width: 86px;
    height: 72px;
    margin-left: 74px;
    margin-top: 4px;
} 
.main-tabBottom>section>ul>li>p:nth-child(2) {
    text-align: center;
    margin:10px 10px 10px 10px;
    color: #333;
    font-size: 11px;
}
.main-tabBottom>section>ul>li>p:nth-child(3) {
    text-align: center;
    margin:10px 10px 10px 10px;
    color: #f14048;
    font-size: 14px;
}







/* main-CharacteristicRecommendationMessage 部分 */
.main-CharacteristicRecommendationMessage {
    width: 348px;
    height: 44px;
    margin-top: 40px;
    border: 2px solid #ccc;
    margin-left: 408px;
    background-color: #fff;
}
.main-CharacteristicRecommendationMessage>p {
    text-align: center;
    font-size: 24px;
    color: #ccc;
    line-height: 48px;
}



/* main-CharacteristicRecommendation 部分 */
.main-CharacteristicRecommendation {
    height: 1700px;
    background-color: #e2e2e2;
    margin-top: 24px;
}
.main-CharacteristicRecommendation>ul>li {
    float: left;
    width: 246px;
    height: 300px;
    /* margin-top: 30px;
    margin-left: 44px; */
    background-color: #fff;
    margin: 15px 20px;
    border: 1px solid #ccc;
    position: relative;
}
.main-CharacteristicRecommendation>ul>li:hover {
    border: 1px solid #e93b43;
    /* box-shadow: 0 15px 30px rgba(0,0,0,0.1); */
}
.main-CharacteristicRecommendation>ul>li>img {
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-left: 20px;
}
.main-CharacteristicRecommendation>ul>li>.crli1 {
    font-size: 14px;
    color: #ccc;
    text-align: center;
    margin: 12px 10px 10px 10px;    
}
.main-CharacteristicRecommendation>ul>li>.crli2 {
    font-size: 16px;
    color: #e93b44;
    text-align: center;
    margin: 24px 10px 10px 10px;
}
.main-CharacteristicRecommendation>ul>li>.crli2>span {
    font-size: 22px;
}
.main-CharacteristicRecommendation>ul>li>.crli3 {
    background-color: rgba(250, 14, 6, 0.411);
    color: #fff;
    width: 247px;
    height: 36px;
    font-size: 18px;
    position: absolute;
    top: 250px;
    left: 0;
    text-align: center;
    padding-top: 14px;
    display: none;
}
.main-CharacteristicRecommendation>ul>.crLi:hover .crli3 {
    display: block;
}







/* footer部分 */
.footer {
    background-color: #fff;
}
.footer>.container {
    height: 600px;
}
/* footer-top部分 */
.footer-Top {
    background-color: #fff;
    margin-top: 80px;
    height: 200px;
}
.footer-Top>ul>li {
    float: left;
    width: 299px;
    height: 200px;
    /* border-right: 1px solid #ccc; */
}
.footer-Top>ul>li>p:nth-child(1) {
    margin: 68px 10px 10px 10px;
    border-right: 1px solid #ccc;
}
.footer-Top>ul>li>p:nth-child(1)>i {
    font-size: 68px;
    color: #e93a43;
    text-align: center;
    margin: 8px 10px 10px 10px;
}
.footer-Top>ul>li>p:nth-child(2) {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    margin-top: -72px;
    margin-left: 118px;
    /* text-align: center; */
}
.footer-Top>ul>li>p:nth-child(3) {
    font-size: 17px;
    color: #ccc;
    margin-top: 28px;
    margin-left: 112px;
}
/* footer-center部分 */
.footer-center {
    width: 1200px;
    height: 300px;
    background-color: #fff;
}
.footer-center>ul>li {
    float: left;
    width: 200px;
    height: 260px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: #fff;
}
.footer-center>ul>li>p {
    font-size: 18px;
    color: #333;
    /* margin: 10px 10px 10px 10px 10px; */
    margin-top: 48px;
    /* margin-left: 20px; */
    text-align: center;
}
.footer-center>ul>li>ul {
    margin-top: 30px;
}
.footer-center>ul>li>ul>li {
    font-size: 13px;
    color: #ccc;
    margin: 16px 10px 10px 10px;
    text-align: center;
}
.footer-center>ul>li>ul>li:hover {
    color: #e93a42;
}

/* footer-bottom 部分 */
.footer-bottom {
    width: 1200px;
    height: 60px;
    /* background-color: pink; */
}
.footer-bottom>p {
    color: #ccc;
    text-align: center;
    /* margin-top: 20px; */
    padding-top: 28px;
    font-size: 13px;
}
.footer-bottom>p:hover {
    color: #e93a42;
}